{% load humanize %}
<div class="text-center" style="width: 58mm; font-family: monospace;">
    <div class="text-center font-bold" style="font-size: 20px;">
        <h2>BIDMAX</h2>
    </div>
    
    <div style="border-top: 1px dashed #000; font-size: 14px;">
        Cliente: {{ ticket.cliente.nombre }}
    </div>

    {% if ticket.mesa %}
    <div style="font-size: 14px;">
    Mesa: {{ ticket.mesa }}
    </div>
    {% endif %}

    <div style="font-size: 14px;">
    Fecha: {{ ticket.fecha_creacion|date:"d/m/Y" }}
    Hora: {{ ticket.fecha_creacion|date:"H:i" }}
    </div>

    {% if ticket.observaciones %}
    <div style="font-size: 14px;">
    ------------------------
    Obs: {{ ticket.observaciones }}
    ------------------------
    </div>
    {% endif %}

    <div style="border-top: 1px dashed #000; font-size: 14px;">
        PRODUCTOS
    </div>
    {% for item in items %}
    <div style="font-size: 14px; margin:10px 0px;">
    {{ item.cantidad }}x {{ item.producto.nombre }}
    </div>
    {% endfor %}
    
    <div style="border-top: 1px dashed #000; font-size: 14px;">
        TOTAL: {{ total|intcomma }}Gs.
    </div>
</div>